:root {
	--ion-color-primary: #2A9D8F;
	--ion-color-primary-rgb: 42,157,143;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #258a7e;
	--ion-color-primary-tint: #3fa79a;

	--ion-color-secondary: #264653;
	--ion-color-secondary-rgb: 38,70,83;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #213e49;
	--ion-color-secondary-tint: #3c5964;

	--ion-color-tertiary: #E9C46A;
	--ion-color-tertiary-rgb: 233,196,106;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #cdac5d;
	--ion-color-tertiary-tint: #ebca79;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;


    /* Background color shades */
	--ion-background-color-step-50: #35a295;
	--ion-background-color-step-100: #3fa79a;
	--ion-background-color-step-150: #4aaca0;
	--ion-background-color-step-200: #55b1a5;
	--ion-background-color-step-250: #5fb6ab;
	--ion-background-color-step-300: #6abab1;
	--ion-background-color-step-350: #75bfb6;
	--ion-background-color-step-400: #7fc4bc;
	--ion-background-color-step-450: #8ac9c1;
	--ion-background-color-step-500: #95cec7;
	--ion-background-color-step-550: #9fd3cd;
	--ion-background-color-step-600: #aad8d2;
	--ion-background-color-step-650: #b4ddd8;
	--ion-background-color-step-700: #bfe2dd;
	--ion-background-color-step-750: #cae7e3;
	--ion-background-color-step-800: #d4ebe9;
	--ion-background-color-step-850: #dff0ee;
	--ion-background-color-step-900: #eaf5f4;
	--ion-background-color-step-950: #f4faf9;

    --ion-background-color: var(--ion-background-color-step-500);

}

@mixin dark-theme-variables {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  /* ... resto de variables ... */
}

/* 2. Lo aplicamos para detección automática (Sistema) */
@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme-variables;
  }
}

/* 3. Lo aplicamos para activación manual (Clase .dark) */
body.dark {
  @include dark-theme-variables;
}