/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);

  /* Estados para hover/click (buena práctica) */
  --background-hover: var(--ion-color-primary-shade);
  --background-activated: var(--ion-color-primary-shade);
  --background-focused: var(--ion-color-primary-tint);
}

ion-item {
  --background: var(--ion-background-color-step-700);
  // Para que se vea bien el sombreado dentro del ion-card
  --inner-border-width: 0;
}

ion-item.completada {
  /* Fondo verde oscuro (tu color primario) */
  --background: var(--ion-background-color-step-300);
}

/* Cambia el color de la etiqueta flotante cuando el input está enfocado */
ion-input.has-focus .label-text {
  color: var(--ion-color-secondary); /* Usa el color secundario, por ejemplo */
}

/* Opcional: También puedes cambiar el color de la línea inferior */
ion-input.has-focus {
  --highlight-color-focused: var(--ion-color-secondary);
}