<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="listaDeTareas.length === 0" class="mensaje-vacio">
    <p>¡Enhorabuena!</p>
    <p>No tienes tareas pendientes.</p>
  </div>

  <!-- Usamos *ngFor para crear un <app-task-item> por cada 'tarea' en el array 'listaDeTareas' -->
  <app-task-item
    *ngFor="let tarea of listaDeTareas"
    [tarea]="tarea">
  </app-task-item>
</ion-content>
